<table>
  <h3>Shares</h3>
  <tr>
    <th>email</th>
    <th>status</th>
    <th>pull date</th>
  </tr>
  <% @email_shares.each do |share| %>
    <tr>
      <td><%= share.email %></td>
      <td>?</td>
      <td><%= share.created_at %></td>
    </tr>
  <% end %>
</table>