<% if subject.errors.any? %>
  <div id="error_explanation" style="width:auto;">
    <div class="alert alert-error">
      The form contains <%= pluralize(subject.errors.count, "error") %>.
    </div>
    <% subject.errors.full_messages.each do |msg| %>
      <p style="color:black;">* <%= msg %><p>
    <% end %>
  </div>
<% end %>