<div class="cardrow" style="padding-left:7%;padding-right:5%;">
  <div class="row-fluid">
    <div class="align-center side-icon">
      <h1 class="social-off" style="float:left;"><i class="icon-<%= prop.icon %>"></i></h1>
    </div>
    <h3 class="lead break-word" style="margin-left:20%;margin-top:17px;"><%= prop.v %></h3>
  </div>
</div>