<div class="row-fluid">
  <div class="card">
    <%= render 'cards/banner', use_case: @card.use_case.capitalize %>
    <%= render 'email_shares/actions', card: @card %>
    <%= render 'simple_properties/card_row', prop: SimpleProperty.new(k:'name', v: @card.display_name) %>
    <% @card.props.each do |prop| %>
      <%= render 'simple_properties/card_row', prop: prop  unless prop.k == 'name' %>
    <% end %>
  </div>
</div>