<h1><%= @card.use_case.capitalize %></h1>
<ul>
  <% @card.email_shares.each do |share| %>
    <li>shared with: <strong><%= share.email %></strong>, last checked: <strong><%= share.created_at %></strong></li>
  <% end %>
</ul>
