<% provide(:title, 'New Property') %>
<div class="row">
  <div class="span6 offset3">
    <div class="hero-unit" style="background-color:#1ABC9C;color:white;">
      <h3>Add to your <%= @prop.card.use_case %> card</h3>
      <%= render 'form' %>
    </div>
  </div>
</div>